body{
    background: url(images/pheonix.jpg);
}
img{
    background-position: center;
}
div{
    color: blanchedalmond;
}
.container-a{
    text-align: center;
}
.container-b{
    text-align: center;
}
